.home-container {
  height: 100dvh; // Ocupa a altura inteira da tela
  display: flex;
  justify-content: center; // Centraliza horizontalmente
  align-items: center; // Centraliza verticalmente
  background-color: #f5f5f5;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: #3f51b5; // Cor padrão do Indigo
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
  }

  .actions {
    display: flex;
    gap: 15px; // Espaço entre os botões
    justify-content: center;

    button {
      padding: 25px 40px; // Deixa os botões maiores
      font-size: 1.1rem;
    }
  }
}
